!!! 5
// HEADER
#header.slide
    .wrapper
        .block.left-floated
            a(href='http://cardsmobile.ru/')
                img(src='/logo/nfc-wallet.png', width='100', height='27', border='0', title='Кошелёк', alt='Кошелёк')
        .block.right-floated
            #navigation
                a(href='/') Приложение
                a.selected(href='/download/') Загрузить
                a(href='/faq/') FAQ
                a(href='/en/') English
// MAIN HERO
#download-hero.slide
    .wrapper
        .block.left-floated
            h1
                | Для установки приложения на совместимый телефон откройте эту страницу со смартфона
// MODELS
#best-wallet.slide
    .wrapper
        .block
            .text
                h2 Совместимые модели телефонов
                p
                    | Полная функциональность приложения доступна только на совместимых моделях телефонов, предназначенных для продажи на территории РФ, оснащенных  NFC-модулем и специальным микрочипом Secure Element. Количество поддерживаемых моделей постоянно увеличивается.
                p Приложение «Кошелёк» уже доступно на более чем полумиллионе Android-смартфонов.
        .block.brands
            img(src='/logo/htc.png', width='110', height='50', border='0', vspace='0', hspace='25', alt='HTC', title='HTC')
            img(src='/logo/philips.png', width='170', height='50', border='0', vspace='0', hspace='25', alt='Philips', title='Philips')
            img(src='/logo/sony.png', width='165', height='50', border='0', vspace='0', hspace='25', alt='Sony', title='Sony')
        .block.model
            img(src='/model/htc-one-m8.png', width='200', height='300', border='0', vspace='5', hspace='5', alt='HTC One (M8)', title='HTC One (M8)')
            br
            span.model-name HTC One (M8)
            br
            | Входит в официальное
            br
            | обновление прошивки
        .block.model
            img(src='/model/sony-xperia-z.png', width='200', height='300', border='0', vspace='5', hspace='5', alt='Sony Xperia Z (C6603)', title='Sony Xperia Z (C6603)')
            br
            span.model-name Sony Xperia Z (C6603)
            br
            | Входит в официальное
            br
            | обновление прошивки
        .block.model
            img(src='/model/philips-xenium-w8555.png', width='200', height='300', border='0', vspace='5', hspace='5', alt='Philips Xenium W8555', title='Philips Xenium W8555')
            br
            span.model-name Philips Xenium W8555
            br
            | Предустановлено
            br
            | при производстве
        .block.model
            img(src='/model/htc-one-e8.png', width='200', height='300', border='0', vspace='5', hspace='5', alt='HTC One (E8)', title='HTC One (E8)')
            br
            span.model-name HTC One (E8)
            br
            | Входит в официальное
            br
            | обновление прошивки
        .block.model
            img(src='/model/htc-one-max.png', width='200', height='300', border='0', vspace='5', hspace='5', alt='HTC One Max', title='HTC One Max')
            br
            span.model-name HTC One Max
            br
            | Входит в официальное
            br
            | обновление прошивки
        .block.model
            img(src='/model/htc-one-m7.png', width='200', height='300', border='0', vspace='5', hspace='5', alt='HTC One (M7)', title='HTC One (M7)')
            br
            span.model-name HTC One (M7)
            br
            | Входит в официальное
            br
            | обновление прошивки
        .block.model
            img(src='/model/philips-xenium-w336.png', width='200', height='300', border='0', vspace='5', hspace='5', alt='Philips Xenium W336', title='Philips Xenium W336')
            br
            span.model-name Philips Xenium W336
            br
            | Предустановлено
            br
            | при производстве
        .block.model
            img(src='/model/htc-one-sv.png', width='200', height='300', border='0', vspace='5', hspace='5', alt='HTC One SV', title='HTC One SV')
            br
            span.model-name HTC One SV
            br
            | Входит в официальное
            br
            | обновление прошивки
        //
          <div class="block model">
                <img src="/model/htc-desire-500.png" width="200" height="300" border="0" vspace="5" hspace="5" alt="HTC Desire 500" title="HTC Desire 500" /><br/>
                <span class="model-name">HTC Desire 500</span><br/>
                Входит в&nbsp;официальное<br/>обновление прошивки
              </div>
        //
          <div class="block model">
                <img src="/model/htc-desire-600.png" width="200" height="300" border="0" vspace="5" hspace="5" alt="HTC Desire 600" title="HTC Desire 600" /><br/>
                <span class="model-name">HTC Desire 600</span><br/>
                Входит в&nbsp;официальное<br/>обновление прошивки
              </div>
        .block.model
            img(src='/model/htc-one-m8.png', width='200', height='300', border='0', vspace='5', hspace='5', alt='HTC One Dual-SIM (E8)', title='HTC One Dual-SIM (M8)')
            br
            span.model-name HTC One Dual-SIM (M8)
            br
            | Входит в официальное
            br
            | обновление прошивки
        //
          <div class="block model">
                <img src="/model/htc-one-m7.png" width="200" height="300" border="0" vspace="5" hspace="5" alt="HTC One Dual-SIM (M7)" title="HTC One Dual-SIM (M7)" /><br/>
                <span class="model-name">HTC One Dual-SIM (M7)</span><br/>
                Входит в&nbsp;официальное<br/>обновление прошивки
              </div>
        .block(style='clear:both;')
            img(src='/misc/spacer.png', width='1', height='80')
        .block
            .text
                h2
                    | Мы сообщим вам о появлении «Кошелька»
                    br
                    | для вашей модели телефона
                p Выберите производителя...
                p Выберите модель телефона...
                p Указите ваш адрес эл.почты...
// FOOTER
#footer.slide
    .wrapper
        .block.left-floated
            .text
                h2 Следите за нашими новостями в социальных сетях
                p
                    a(href='http://vk.com/cardsmobile', target='_blank')
                        img.social(src='/icon/vkontakte.png', border='0', width='51', height='51', title='ВКонтакте', alt='В')
                    a(href='http://facebook.com/cardsmobile', target='_blank')
                        img.social(src='/icon/facebook.png', border='0', width='51', height='51', title='Facebook', alt='F')
                    a(href='http://twitter.com/cardsmobile', target='_blank')
                        img.social(src='/icon/twitter.png', border='0', width='51', height='51', title='Twitter', alt='T')
                    a(href='http://plus.google.com/103055276936254491051', rel='publisher', target='_blank')
                        img.social(src='/icon/gplus.png', border='0', width='51', height='51', title='Google Plus', alt='G')
        .block.right-floated
            .text
                .vcard(itemscope='', itemtype='http://schema.org/Organization')
                    p.support
                        span(itemprop='email')
                            a.email(href='mailto:support@cardsmobile.ru') support@cardsmobile.ru
                    p.support
                        span.tel(itemprop='telephone')
                            nobr
                                abbr.value(title='+7-800-200-99-78') 8 (800) 200-99-78
                    //
                      <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="adr">
                      <span itemprop="addressCountry" class="country-name">Россия</span>
                      </span>
                    p.terms
                        span(itemprop='name')
                            a.fn.org.url(href='http://cardsmobile.ru/')
                                | Приложение «Кошелёк»
                                br
                                | Компания CardsMobile
                        br
                        a(href='/terms/') Пользовательское соглашение
                        br
                        a(href='/jobs/') Работа в команде CardsMobile
                // Counters
                script.
                    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                    ga('create', 'UA-51462736-1', 'cardsmobile.ru');
                    ga('send', 'pageview');
