<html><head><meta http-equiv="сontent-type" content="text/html; charset=utf-8"><link rel="stylesheet" media="all" href="http://cardsmobile.ru/mail/models/styles.css"><meta name="viewport" content="width=device-width, initial-scale=1.0;">

<!-- PART 1 - BACKGROUND -->
</head><body><table border="0" cellspacing="0" cellpadding="0" width="100%" align="center" style="margin: 0; padding: 0; width: 100% !important; line-height: 100% !important; border-spacing: 0; background-color: #0089CF;"><tbody><tr><td align="center" style="border-collapse: collapse; -ms-text-size-adjust: none; -webkit-text-size-adjust: none;">

<!-- PART 1 - WRAPPER -->
<table border="0" cellspacing="0" cellpadding="0" align="center" style="margin: 0; margin-left: auto; margin-right: auto; padding: 0; line-height: 100% !important; border-spacing: 0;" class="wrapper"><tbody><tr><td align="center" style="border-collapse: collapse; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; padding-left: 20px; padding-right: 20px;">

<!-- PART 1 - FLOATER 1 -->
<table border="0" cellspacing="0" cellpadding="0" width="280" style="margin: 0; margin-left: auto; margin-right: auto; padding: 0; width: 280px; line-height: 100% !important; border-spacing: 0;" class="floater"><tbody><tr><td align="center" style="border-collapse: collapse; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; color: #FFFFFF;" class="title">

<!-- PART 1 - PREHEADER -->
<span class="preheader" style="display: none !important; visibility: hidden; overflow: hidden; opacity: 0; color: #0089CF; height: 0; width: 0; font-size: 0;">Заявка на участие в тестировании принята. Мы сообщим вам о начале тестирования облачной версии приложения «Кошелёк» на этот адрес электронной почты. Следите за нашими новостями в социальных сетях.</span>

<!-- PART 1 - LOGO -->
<br><br>
<img src="http://cardsmobile.ru/mail/models/wallet.png" width="80" height="22" border="0" vspace="0" hspace="0" style="margin: 0; padding: 0; padding-top: 10px; padding-bottom: 10px; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; color: #FFFFFF;" alt="Кошелёк" title="Кошелёк">

<!-- PART 1 - TITLE -->
<br><br>
<div style="font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif; font-size: 20pt; font-weight: bold; line-height: 1.3; color: #FFFFFF; -ms-text-size-adjust: none; -webkit-text-size-adjust: none;">Заявка на тестирование принята</div><div style="font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif; font-size: 20pt; font-weight: bold; line-height: 1.3; color: #FFFFFF; -ms-text-size-adjust: none; -webkit-text-size-adjust: none;"><br></div>

</td></tr></tbody></table>

<!-- PART 1 - FLOATER 2 -->
<table border="0" cellspacing="0" cellpadding="0" width="220" style="margin: 0; margin-left: auto; margin-right: auto; padding: 0; width: 220px; line-height: 100% !important; border-spacing: 0;" class="floater"><tbody><tr><td align="center" style="border-collapse: collapse; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; color: #FFFFFF;">

<!-- PART 1 - TITLE IMAGE -->
<br><br>
<img src="http://cardsmobile.ru/mail/models/hero.png" width="190" height="240" border="0" vspace="0" hspace="0" style="margin: 0; margin-left: auto; margin-right: auto; padding: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block; color: #FFFFFF;" alt="MasterCard PayPass" title="MasterCard PayPass">

</td></tr></tbody></table>

</td></tr></tbody></table>
</td></tr></tbody></table>

<!-- PART 4 - BACKGROUND -->
<table border="0" cellspacing="0" cellpadding="0" width="100%" align="center" style="margin: 0; padding: 0; width: 100% !important; line-height: 100% !important; border-spacing: 0; background-color: #FFFFFF;"><tbody><tr><td align="center" style="border-collapse: collapse; -ms-text-size-adjust: none; -webkit-text-size-adjust: none;">

<!-- PART 4 - WRAPPER -->
<table border="0" cellspacing="0" cellpadding="0" align="center" style="margin: 0; margin-left: auto; margin-right: auto; padding: 0; max-width: 540px; line-height: 100% !important; border-spacing: 0;" class="wrapper"><tbody><tr><td align="left" style="border-collapse: collapse; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; padding-left: 20px; padding-right: 20px;">

<!-- PART 4 - SOCIAL -->
<br><br>
<table border="0" cellspacing="0" cellpadding="0" align="center" style="margin: 0; margin-left: auto; margin-right: auto; padding: 0; line-height: 100% !important; border-spacing: 0;"><tbody><tr><td align="center" style="border-collapse: collapse; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif; font-size: 13pt; font-weight: 400; line-height: 1.6; color: #000000;">

Мы сообщим вам о начале тестирования облачной версии приложения «Кошелёк» на этот адрес электронной почты.<br><br>
Следите за&nbsp;нашими новостями в&nbsp;социальных&nbsp;сетях:<br>

<table border="0" cellspacing="0" cellpadding="0" align="center" style="margin: 0; margin-left: auto; margin-right: auto; padding: 0; line-height: 100% !important; border-spacing: 0;"><tbody><tr>

<td align="center" style="border-collapse: collapse; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif; font-size: 13pt; font-weight: 400; line-height: 1.6; color: #000000; padding-top: 15px; padding-left: 10px; padding-right: 10px;"><a href="http://facebook.com/cardsmobile" style="text-decoration: none; font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif; font-size: 13pt; font-weight: 400; line-height: 1.6; color: #999999;" target="_blank"><img src="http://cardsmobile.ru/mail/models/social-fb.png" width="40" height="40" border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; color: #00000;" alt="F" title="Facebook"></a></td>

<td align="center" style="border-collapse: collapse; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif; font-size: 13pt; font-weight: 400; line-height: 1.6; color: #000000; padding-top: 15px; padding-left: 10px; padding-right: 10px;"><a href="http://vk.com/cardsmobile" style="text-decoration: none; font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif; font-size: 13pt; font-weight: 400; line-height: 1.6; color: #999999;" target="_blank"><img src="http://cardsmobile.ru/mail/models/social-vk.png" width="40" height="40" border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; color: #00000;" alt="В" title="ВКонтакте"></a></td>

<td align="center" style="border-collapse: collapse; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif; font-size: 13pt; font-weight: 400; line-height: 1.6; color: #000000; padding-top: 15px; padding-left: 10px; padding-right: 10px;"><a href="http://twitter.com/cardsmobile" style="text-decoration: none; font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif; font-size: 13pt; font-weight: 400; line-height: 1.6; color: #999999;" target="_blank"><img src="http://cardsmobile.ru/mail/models/social-tw.png" width="40" height="40" border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; color: #00000;" alt="T" title="Twitter"></a></td>

<td align="center" style="border-collapse: collapse; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif; font-size: 13pt; font-weight: 400; line-height: 1.6; color: #000000; padding-top: 15px; padding-left: 10px; padding-right: 10px;"><a href="http://plus.google.com/103055276936254491051" style="text-decoration: none; font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif; font-size: 13pt; font-weight: 400; line-height: 1.6; color: #999999;" target="_blank"><img src="http://cardsmobile.ru/mail/models/social-gp.png" width="40" height="40" border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; color: #00000;" alt="G" title="Google Plus"></a></td>

</tr></tbody></table>

</td></tr></tbody></table>

<!-- PART 4 - FOOTER -->
<br><br>
<br><br>
<table border="0" cellspacing="0" cellpadding="0" align="center" style="margin: 0; margin-left: auto; margin-right: auto; padding: 0; line-height: 100% !important; border-spacing: 0;"><tbody><tr><td align="left" style="border-collapse: collapse; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif; font-size: 10pt; font-weight: 400; line-height: 1.4; color: #999999; padding-bottom: 20px;">
Данное письмо отправлено автоматически с сайта <a href="http://www.www.cardsmobile.ru/" target="_blank" style="color: #999999;">www.cardsmobile.ru</a> в качестве подтверждения заявки на уведомление о выходе приложения «Кошелёк» для вашей модели телефона.</td></tr></tbody></table>

</td></tr></tbody></table>
</td></tr></tbody></table>

</body></html>