/**
 * @author Alexander Marenin
 * @date December 2014
 */

@font-family: 'Open Sans', sans-serif;

* {
    box-sizing: border-box;
}

html {
    position: relative;
}

html, body {
    min-height: 100%;
}

html, body, div {
    margin: 0;
    padding: 0;
}

body {
    font-family: @font-family;
    font-size: 16px;
    line-height: 1.42;
    color: #333;
    margin-bottom: 50px;
}

h2 {
    font-family: @font-family;
    font-style: italic;
    font-weight: normal;
    font-size: 29px;
    margin: 20px 0 10px;
    line-height: 1.1;
}

form {
    width: 430px;
    display: block;
    margin: 20px auto;
    text-align: center;

    input, select, textarea, button {
        padding: 12px 15px;
        border: 1px solid #aaa;
        border-radius: 3px;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        margin: 0;
        width: 450px;
    }

    input[type="email"] {
        width: 230px;
    }

    input[type="submit"] {
        width: 148px;
        margin-left: 15px;
        border: 1px solid #F15A29;
        background-color: #F15A29;
        color: white;
        -webkit-appearance: none;
    }

    input.error {
        color: #420c07;
        border-color: #EE4433;
        background-color: #FFE5E5;
    }
}

.thanks {
    display: none;
}

.center {
    text-align: center;
}

.hidden {
    display: none;
}